{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<main class="container main-container">

            <form action="/register" method="post">
                <div class="form-group login-form">
                    <input autocomplete="off" autofocus 
                        class="form-control" 
                        name="username" 
                        placeholder="Username"
                        type="text"
                    >
                </div>
                <!-- <div class="form-group">
                    <input autocomplete="off" autofocus 
                        class="form-control" 
                        name="email" 
                        placeholder="email"
                        type="email"
                    >
                </div> -->
                <div class="form-group">
                    <input class="form-control login-form" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <input class="form-control login-form" name="password-confirm" placeholder="Confirm Password" type="password">
                </div>
                <button class="btn btn-danger" type="submit">Register</button>
            </form>
</main>
{% endblock %}